<div class="header">
  <div class="left-froggy header-button-container">
    <button mat-flat-button color="primary" routerLink="/events">Event</button>
    <button mat-flat-button color="primary" routerLink="/categories">Category</button>
  </div>
  <div class="right-froggy header-button-container">

    <button mat-mini-fab color="primary">
      <mat-icon>account_circle</mat-icon>
    </button>

  </div>
</div>

