h1{
  padding:20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color:rosybrown;
 }

.view-event-card{
  background-color: darkcyan;
  display: flex;
  padding:  0 30px 0 30px;
  max-width: 400px;
  max-height: 600px;
}
.event-content{
  display: flex;
  align-items:center;
  flex-direction: column;
}
.event-card-img {
  height: 250px;
  object-fit: contain;
}
