<div class="event-content">
  <h1>Event</h1>
  <mat-card class="view-event-card">
    <mat-card-header>
      <mat-card-title>{{event.name}}</mat-card-title>
      <mat-card-subtitle>{{event.startDate?.toLocaleDateString("ro-RO")}} - {{event.endDate?.toLocaleDateString("ro-RO")}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{event.description}}</p>
      <p>{{ event.location }}</p>
    </mat-card-content>
    <img class="event-card-img" mat-card-image src="{{event.imgURL ? event.imgURL : 'https://tinyurl.com/mvpk5u97'}}" alt="Generic event photo">
    <mat-card-actions>
      <button mat-raised-button color="primary" [routerLink]="updateEventUrl">Update</button>
      <button mat-raised-button color="warn" (click)="openConfirmationDialog()">Delete</button>
    </mat-card-actions>
  </mat-card>
</div>

