<div class="category-content">
    <h1>Category</h1>

    <mat-card class="view-category-card">
      <mat-card-header>
        <mat-card-title>{{category.name}}</mat-card-title>
      </mat-card-header>


      <mat-card-actions>
        <button mat-raised-button color="primary" [routerLink]="updateCategoryUrl">Update</button>
        <button mat-raised-button color="warn" (click)="openConfirmationDialog()">Delete</button>
      </mat-card-actions>

    </mat-card>

  <div>
          <app-event-card *ngFor = "let event of events"
          [event] = "event" (click) = "navigateToEvent(event)">
          </app-event-card>

  </div>


  </div>
