h1{
  padding:20px;
  background-color:rosybrown;

}

.event-card-container {
  padding: 5px 20px 5px 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}

.events-container{
  display:flex;
  align-items: center;
  flex-direction: column;
}
