h1{
  padding:20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color:rosybrown;
}
.category-card-container {
    padding: 10px 10px 10px 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

  }

  .categories-container{
    display:flex;
    align-items: center;
    flex-direction: column;
  }
