<div class="categories-container">

  <h1>
    Categories
  </h1>

  <button mat-fab color="primary" routerLink="/new-category">
    <mat-icon>add</mat-icon>
  </button>

  <div class="category-card-container">
    <app-category-card
      *ngFor = "let c of categories" [category] = "c"
      (click)="navigateToCategory(c)">
    </app-category-card>

  </div>

</div>
