/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;width:100%;background-image:url(https://cdn.pixabay.com/photo/2019/08/13/08/48/bucuresti-4402855_1280.jpg);background-repeat:round;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
